<!--ヘッダー ここまで---------------------------->
<div class="main tweet-index">
  <div class="container">
    <% @tweets.each do |tweet| %>
       <div class="tweet-index-item">
         <div class="tweet-left">
          <img src="<%= "/user_images/#{tweet.user.image_name}" %>">
        </div>
        <div class="tweet-right">
          <div class="tweet-user-name">
            <%= link_to(tweet.user.name, "/users/#{tweet.user.id}") %>
          </div>
         <%= link_to(tweet.content, "/tweet/#{tweet.id}") %>
       </div>
     </div>
     <% end %>
  </div>
</div>
<!-- ここまで---------------------------->
